html, body, #root, .App {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-join-leave {
  height: 40px;
  font-size: 24px;
  margin-left: 10px;
}

.username {
  display: flex;
  height: 50px;
  font-size: 30px;
}
.transparent {
  background: transparent !important;
  transition: background 0.4s linear;
}

.username input {
  border: none;
  border-bottom: 1px solid black;
  background: black;
  outline: none;
  font: inherit;
  padding-left: 10px;
  width: 250px;
}

.userlist {
  font-size: 16px;
  list-style: none;
  border: 1px solid black;
  width: 150px;
  height: 400px;
}

.btn-tb {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.btn-tb:hover {
  background-color: grey;
  color: white;
  border: 1px solid black;
}

.btn-tb:active {
  background-color: black !important;
}

.btn-tb:focus {
  box-shadow: none !important;
}

